body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.quiz-container {
  
    
    background-color: rgb(240, 232, 232);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 255px auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#question-container {
    margin-bottom: 20px;
}

.option {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

#result {
    font-weight: bold;
    margin-top: 20px;
}

#next-button {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#next-button:hover {
    background-color: #219653;
}
